<div class="blog-post">
 <h2 class="blog-post-title"><%= link_to_unless_current post.title, post %></h2>
  <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>
 <%= simple_format post.body %>
  
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
				
</div><!-- /.blog-post -->